{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding-top: 90px;">
    <div class="container">
      <h1 class="display-4">
          We are a multidisciplinary team with diverses experiences and a lot of interest in Spatial Exploration.
      </h1>
      <p class="lead">
          We create this site with the goal to share NASA's knowledge about space communications in a playful, interactive and stimulating way so that students and anyone else interested in space exploration can understand, reflect and be encouraged to think of new solutions to the problem exposed in the challenge.
      </p>
      <p class="lead">
          Through concepts, images, infographics and other tools, the user will browse information and data provided by NASA, in addition to having the experience of chatting with an informative chatbot to learn a little more about the difficulties of interplanetary communication.
      </p>
      <p class="lead">
          At the end of the journey, the person will be invited to reflect: what would it be like to live with our messages arriving with delay? And can only transmit a little bit of information? What do you propose?
      </p>
      <p class="lead">
          With that, we wish to inspire students and a whole future generation of scientists who will face these problems in the near future to think about new and more efficient ways to solve or mitigate the problems that we have today.
      </p>
    </div>
</div>
{% endblock %}