{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid mb-0" style="padding-top: 90px;">
    <div class="container">
        <h1 class="display-4">
                What’s your message that cannot wait to be delivered?
        </h1>
        <p class="lead">
            If a message could transform an entire journey, save a person's life, be able to bring diverse advances to humanity?
            <br><br>
            Communication is not only what you say.
            <br><br>
            20 minutes for a message to reach a person, during a space exploration, is enough time to cost him his life and all the time invested in the technological solution.
        </p>
        <h1>
            ONLY YOU WILL BE ABLE TO MAKE A DIFFERENCE! THINK AND COMMUNICATE!
        </h1>
    </div>
</div>
{% endblock %}