{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding-top: 90px;">
    <div class="container">
        <h1 class="display-4">
            <img src="." alt="Ayrton Neves">
            Ayrton Neves
        </h1>
        <p class="lead">
            Tecnólogo em Mecânica de Precisão, formado pela Faculdade de Tecnologia de São Paulo (FATEC-SP). Atualmente é estudante de Análise e Desenvolvimento de Sistemas, pela FATEC-SP. Tem experiencia profissional com a área de mecânica de produção e com projetos mecânicos.
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/ayrton-neves-1a61b5a2/">Acesse meu Linkedin</a></p>
        <h1 class="display-4">
            Julio Bandeira de Carvalho
        </h1>
        <p class="lead">
            Atualmente é estudante de Engenharia de Controle e Automação, pela UNIP. Tem experiencia prática com Python e JavaScript.
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/julio-bandeira-de-carvalho/">Acesse meu Linkedin</a></p>
        <h1 class="display-4">
            Rafael Augusto Ricco
        </h1>
        <p class="lead">
            Geografo, formado em geografia pela Universidade de São Paulo (USP). Atualmente é estudante de Análise e Desenvolvimento de Sistemas, pela FATEC-SP. Tem experiencia profissional em Geoprocessamento e Análises Espaciais. Trabalha atualmente na Triad Systens, Analista de Banco de Dados Geograficos.
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/rafael-augusto-ricco/">Acesse meu Linkedin</a></p>
        <h1 class="display-4">
            Victor Jucosky
        </h1>
        <p class="lead">
            Tecnólogo em Mecânica de Precisão, formado pela Faculdade de Tecnologia de São Paulo (FATEC-SP). Atualmente é estudante de Análise e Desenvolvimento de Sistemas, pela FATEC-SP. Tem experiencia profissional na área de TI. Estágiario de Analytics-Banco Safra.
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/vjucosky/">Acesse meu Linkedin</a></p>
        <h1 class="display-4">
            Wander David Vicente
        </h1>
        <p class="lead">
            Tecnólogo em Mecânica de Precisão, formado pela Faculdade de Tecnologia de São Paulo (FATEC-SP). Atualmente é estudante de Análise e Desenvolvimento de Sistemas, pela FATEC-SP. Tem experiencia profissional na área de TI, em Cloud & Cognitive Intern-IBM. 
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/wander-david-vicente-614725158/">Acesse meu Linkedin</a></p>
    </div>
</div>
{% endblock %}