{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding-top: 110px;">
    <div class="container">
        <h1 class="display-4">
            <img src="../../../static/Ayrton.jpg" alt="Ayrton Neves" width= 100px style="border-radius: 50px;">
            Ayrton Neves
        </h1>
        <p class="lead">
            Technologist in Precision Mechanics, graduated from the Faculty of Technology of São Paulo (FATEC-SP). He is currently a student of Systems Analysis and Development, at FATEC-SP. He has professional experience in the field of production mechanics and mechanical projects.
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/ayrton-neves-1a61b5a2/">Linkedin</a></p>
        <h1 class="display-4">
            <img src="../../../static/Julio.jpg" alt="Ayrton Neves" width= 100px style="border-radius: 50px;">
            Julio Bandeira de Carvalho
        </h1>
        <p class="lead">
            He is currently a student of Control and Automation Engineering at UNIP. Has practical experience with Python and JavaScript.
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/julio-bandeira-de-carvalho/">Linkedin</a></p>
        <h1 class="display-4">
            <img src="../../../static/Rafael.jpg" alt="Ayrton Neves" width= 100px style="border-radius: 50px;">
            Rafael Augusto Ricco
        </h1>
        <p class="lead">
            Geographer, graduated in geography from the University of São Paulo (USP). He is currently a student of Systems Analysis and Development, at FATEC-SP. Has professional experience in Geoprocessing and Spatial Analysis. He currently works at Triad Systens, Geographic Database Analyst.
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/rafael-augusto-ricco/">Linkedin</a></p>
        <h1 class="display-4">
            <img src="../../../static/Victor.jpg" alt="Ayrton Neves" width= 100px style="border-radius: 50px;">
            Victor Jucosky
        </h1>
        <p class="lead">
            Technologist in Precision Mechanics, graduated from the Faculty of Technology of São Paulo (FATEC-SP). He is currently a student of Systems Analysis and Development, at FATEC-SP. Has professional experience in the IT area. Analytics intern at Safra Bank.
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/vjucosky/">Linkedin</a></p>
        <h1 class="display-4">
            <img src="../../../static/Wander.jpg" alt="Ayrton Neves" width= 100px style="border-radius: 50px;">
            Wander David Vicente
        </h1>
        <p class="lead">
            Technologist in Precision Mechanics, graduated from the Faculty of Technology of São Paulo (FATEC-SP). He is currently a student of Systems Analysis and Development, at FATEC-SP. Has professional experience in the IT area, in Cloud & Cognitive Intern-IBM. 
        </p>
        <p class="lead"><a href="https://www.linkedin.com/in/wander-david-vicente-614725158/">Linkedin</a></p>
    </div>
</div>
{% endblock %}