{% extends "base.html" %}

{% block content %}
<section>
    <div class="jumbotron jumbotron-fluid mb-0 bg-dark" style="margin-top: 3.5rem;">
        <div class="container" id="wellcome">
          <h1 class="display-4 text-light" style="font-size: 10rem; line-height: 10rem;">Alô, <b>Marte</b>.</h1>
        </div>
    </div>

    <div class="card-fluid text-justify bg-danger text-light">
        <div class="card-body">
          <p class="card-text m-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quas explicabo recusandae quisquam suscipit soluta perspiciatis adipisci illo enim doloremque sed nisi quis, odio placeat. Temporibus iste quo quibusdam corrupti?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quas explicabo recusandae quisquam suscipit soluta perspiciatis adipisci illo enim doloremque sed nisi quis, odio placeat. Temporibus iste quo quibusdam corrupti?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quas explicabo recusandae quisquam suscipit soluta perspiciatis adipisci illo enim doloremque sed nisi quis, odio placeat. Temporibus iste quo quibusdam corrupti?
          </p>
        </div>
    </div>
    
    <div class="row bg-dark text-light">
        <div class="col-sm-4 my-2">
            <h1 class="p-5" style="font-size: 8rem; line-height: 8rem;">1997</h1>
        </div>

        <div class="col-sm-6 my-5">
            <div>
                <img src="./static/5f78ccd60832c0e09e2e726b_VoyagerPath.png" width="350px" alt="Voyager Path">
                <h1>Explorando os limites da comunicação</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, deserunt eaque? Similique aperiam perferendis voluptatum voluptatibus ab voluptatem qui vel sint maiores quam nulla quod mollitia consequuntur, quaerat, repellendus amet?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, deserunt eaque? Similique aperiam perferendis voluptatum voluptatibus ab voluptatem qui vel sint maiores quam nulla quod mollitia consequuntur, quaerat, repellendus amet?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, deserunt eaque? Similique aperiam perferendis voluptatum voluptatibus ab voluptatem qui vel sint maiores quam nulla quod mollitia consequuntur, quaerat, repellendus amet?
                </p>
            </div>
        </div>
    </div>

    <div class="row bg-dark text-light">
        <div class="col-sm-4 my-2">
            <h1 class="p-5" style="font-size: 8rem; line-height: 8rem;">2013</h1>
        </div>

        <div class="col-sm-6 my-5">
                <img src="./static/5f78de11d5081467e48d854f_Earth.jpg" width="350px" alt="Earth">
                <h1>Fibra óptica, interplanetária</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, deserunt eaque? Similique aperiam perferendis voluptatum voluptatibus ab voluptatem qui vel sint maiores quam nulla quod mollitia consequuntur, quaerat, repellendus amet?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, deserunt eaque? Similique aperiam perferendis voluptatum voluptatibus ab voluptatem qui vel sint maiores quam nulla quod mollitia consequuntur, quaerat, repellendus amet?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, deserunt eaque? Similique aperiam perferendis voluptatum voluptatibus ab voluptatem qui vel sint maiores quam nulla quod mollitia consequuntur, quaerat, repellendus amet?
                </p>
        </div>
    </div>

    <div class="card-fluid text-justify bg-light mb-0">
        <div class="card-body">
            <p class="card-text m-5">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolorum unde incidunt deleniti quod, rem tempora! Laudantium odit iure ipsa, omnis voluptatum, nemo placeat, et accusamus tempora id nesciunt incidunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolorum unde incidunt deleniti quod, rem tempora! Laudantium odit iure ipsa, omnis voluptatum, nemo placeat, et accusamus tempora id nesciunt incidunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit dolorum unde incidunt deleniti quod, rem tempora! Laudantium odit iure ipsa, omnis voluptatum, nemo placeat, et accusamus tempora id nesciunt incidunt.
            </p>
        </div>
    </div>
</section>
{% endblock %}