{% extends "base.html" %}

{% block content %}
<section>
    <div class="jumbotron jumbotron-fluid mb-0 bg-dark" style="margin-top: 3.5rem;">
        <div class="container" id="wellcome">
          <h1 class="display-4 text-light" style="font-size: 10rem; line-height: 10rem;">Alô, <b>Marte</b>.</h1>
        </div>
    </div>

    <div class="card-fluid text-justify bg-danger text-light">
        <div class="card-body">
          <p class="card-text m-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quas explicabo recusandae quisquam suscipit soluta perspiciatis adipisci illo enim doloremque sed nisi quis, odio placeat. Temporibus iste quo quibusdam corrupti?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quas explicabo recusandae quisquam suscipit soluta perspiciatis adipisci illo enim doloremque sed nisi quis, odio placeat. Temporibus iste quo quibusdam corrupti?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quas explicabo recusandae quisquam suscipit soluta perspiciatis adipisci illo enim doloremque sed nisi quis, odio placeat. Temporibus iste quo quibusdam corrupti?
          </p>
        </div>
    </div>

    <div class="row bg-dark text-light">
        <div class="col-sm-4 my-2">
            <h1 class="p-5" style="font-size: 8rem; line-height: 8rem;">1957</h1>
        </div>

        <div class="col-sm-6 my-5">
            <div>
                <img src="./static/5f78ccd60832c0e09e2e726b_VoyagerPath.png" width="350px" alt="Voyager Path">
                <h1>Explorando os limites da comunicação</h1>
                <p class="text-justify">
                    Tudo começou por volta de 1957, com o início da Corrida Espacial, após a Segunda Guerra Mundial e no contexto da Guerra Fria.
                    Estados Unidos e União Soviética começaram a desenvolver de forma cada vez mais rápida sua tecnologia para a conquista do espaço. Mas como eles se comunicavam com seus astronautas das naves? Nessa época, as coisas seguiam como eram com os aviões. Boa parte das comunicações se davam por sistemas de rádio que já haviam se desenvolvido bastante durante a guerra.
                    Com o avanço das tecnologias, surgimento dos primeiros satélites, as coisas começaram a se aperfeiçoar ainda mais, porém a base continuou a mesma: ondas de rádio. Enquanto as coisas estavam “próximas” a Terra, tudo corria bem. As ondas de rádio, por padrão, viagem próximas a velocidade da luz, então pouco atraso ocorria nas transmissões.
                    Geralmente essas comunicações ocorrem na Banda S, dentro da frequência UHF (Ultra High Frequency) por sua capacidade de atravessar a ionosfera da Terra sem muitas distorções e interferências (e continuam assim até hoje).
                </p>
            </div>
        </div>
    </div>

    <div class="row bg-dark text-light">
        <div class="col-sm-4 my-2">
            <h1 class="p-5" style="font-size: 8rem; line-height: 8rem;">1969</h1>
        </div>

        <div class="col-sm-6 my-5">
            <div>
                <img src="./static/5f78ccd60832c0e09e2e726b_VoyagerPath.png" width="350px" alt="Voyager Path">
                <h1>Explorando os limites da comunicação</h1>
                <p class="text-justify">
                    Em 1969, o homem pousou na Lua. Até então, o local mais distante que um ser humano já pisou. Ocorreu nessa época a icônica ligação entre Richard Nixon e os astronautas Neil Armstrong. Obviamente, o telefone não estava diretamente em contato com a Lua. A comunicação passou pelo famoso CAPCOM da NASA e foi transmitida por ondas de rádio para a Lua.
                    Hoje dia, numa mesma situação, o tempo dessa comunicação não seria muito diferente. As ondas continuam viajando na mesma velocidade que aquela época, e uma comunicação da Terra com a Lua ocorre com um atraso de apenas 1,26 segundos.
                    Foi nessa época que surgiu um dos principais sistemas de comunicação espacial: a Deep Space Network. Esse conjunto de antenas da NASA atua desde lá da época das missões Apollo até hoje em dia para conseguir ligar tudo que está viajando por aí no nosso Sistema Solar com o pessoal aqui na Terra. Naquela época, para interpretar os sinais enviados e recebidos da Lua, eles dispunham de um computador chamado UNIVAC 494, que era o único que possibilitava a comunicação em tempo real em um fluxo contínuo de 48kbps.
                </p>
                <img src="./static/5f78ccd60832c0e09e2e726b_VoyagerPath.png" width="350px" alt="Voyager Path">
                <p>
                    Porém, não só humanos estão viajando por aí. Muitas sondas foram enviadas ao espaço e para lugares muito mais distantes que a Lua, e adivinha quem tá lá coletando essa informação que está viajando no espaço? Eles mesmo, a Deep Space Network.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row bg-dark text-light">
        <div class="col-sm-4 my-2">
            <h1 class="p-5" style="font-size: 8rem; line-height: 8rem;">1977</h1>
        </div>

        <div class="col-sm-6 my-5">
            <div>
                <img src="./static/5f78ccd60832c0e09e2e726b_VoyagerPath.png" width="350px" alt="Voyager Path">
                <h1>Explorando os limites da comunicação</h1>
                <p class="text-justify">
                    Um belo exemplo disso é a Missão Voyager, com suas duas sondas que atualmente se encontram muito, muito mesmo distante da Terra. Atualmente, a Voyager 1 já está no que é chamado de espaço interestelar, pois já saiu “oficialmente” do nosso Sistema Solar e continua viajando por aí. E o mais legal: nós continuamos ainda a ter contato com ela!
                    Mas as coisas não são assim tão fáceis. Pra você ter uma idéia da dificuldade da comunicação, atualmente, o sinal da Voyager 1 leva até 19 horas pra chegar na Terra. E se a Terra precisar responder esse sinal, ele leva mais 19 horas pra chegar até a Voyager! Imagina você dar um “oi” para o seu amigo no seu celular e ele levar 38 horas pra responder! É difícil né? Para continuar enviando dados pra gente, as Voyager contam com uma antena de alto ganho de 3,7 metros e conseguem enviar dados com uma banda de 1,4 kbps, o que é bem pouquinho perto do que temos hoje dia.
                </p>
                <p class="text-justify">
                    E se você quiser saber onde essa senhora sonda está nesse momento, você pode conferir aqui: <a href="https://voyager.jpl.nasa.gov/mission/status/#where_are_they_now" class="text-decoration-none">https://voyager.jpl.nasa.gov/mission/status/#where_are_they_now</a>
                </p>
                <p class="text-justify"></p>
                    Esse é um problema enfrentado atualmente com as comunicações com Marte. Embora esse planeta vermelho esteja bem mais próximo da gente do que nossas pequenas e corajosas Voyagers, ele está bem mais longe do que a Lua. Então ainda existe um atraso bem grande no recebimento e envio de informações. A sua mensagem enviada para nossa amiga marciana, pode levar até 44 minutos para ser respondida, dependendo da posição dos nossos planetas.
                </p>
            </div>
        </div>
    </div>

    <div class="row bg-dark text-light">
        <div class="col-sm-4 my-2">
            <h1 class="p-5" style="font-size: 8rem; line-height: 8rem;">2012</h1>
        </div>

        <div class="col-sm-6 my-5">
                <img src="./static/5f78de11d5081467e48d854f_Earth.jpg" width="350px" alt="Earth">
                <h1>Fibra óptica, interplanetária</h1>
                <p class="text-justify">
                    Em 2012 a sonda Curiosity chegou a Marte. Ela é o primeiro laboratório móvel completo enviado a outro a planeta e sua função é estudar o solo marciano por cerca de dois anos. Essa sonda está equipada com um braço mecânico capaz de fazer furos, câmeras, sensores térmicos e de movimentos, etc. Mas um de seus componentes mais importantes são as antenas, que são usadas para a transmissão de dados para a Terra. Existem três diferentes antenas acopladas à sonda: uma de baixo ganho, uma de alto ganho e uma antena do tipo UHF (Ultra High Frequency; Frequência Ultra Alta).
                    A primeira antena está ligada a um rádio lento, de baixa potência UHF. Ele é capaz de transmitir uma pequena taxa de dados para outras sondas orbitantes em Marte ou também diretamente para a Terra. Foi projetado para ser usado em situações de emergência, quando os outros dispositivos de transmissão falharem.
                    A segunda antena está ligada a um rádio UHF de alta velocidade. Este por sua vez transmite as informações rapidamente para outras sondas que orbitam o planeta (Odyssey, Mars Reconnaissance Orbiter e Mars Express), a taxas entre 256 kbits/s a 2 Mbits/s e possui um consumo de apenas 15 watts. É o principal meio de comunicação, estima-se que cerca de 31 megabytes de dados cheguem à Terra por dia através deste canal.
                    Por fim, a antena de alto ganho. Ela conecta diretamente a sonda Curiosity com os cientistas e engenheiros aqui na Terra e por tal motivo este canal só se encontra disponível durante três horas do dia, devido ao alinhamento dos planetas e questões de energia. Esta antena usa um rádio que consome 40 watts e transmite apenas 12 kilobits por segundo. Existe um atraso de 20 minutos na transmissão das informações, pois o sinal precisa percorrer a distâncias entre 100 a 400 milhões de quilômetros entre a Terra e Marte. Por ser um canal de comunicação direto, a NASA o utiliza para enviar comandos a sonda e também para receber dados críticos.
                    Assim, mesmo a pequena Curiosity gerando um monte de informação todo dia, elas ainda ficam limitadas a quantidade de informação que consegue enviar a Terra. Para se ter uma idéia, a imagem do paraquedas da Curiosity possuía 555 MiB e levou um tempão pra ser transmitida completamente para a Terra.
                    Para poder aumentar a eficiência do recebimento dessas informações, essas sondas mandam algumas fotinhos pequenas para que os cientistas na Terra escolham qual querem receber e aí sim elas enviam as fotos em alta resolução escolhidas. E você consegue acompanhar de perto esse robozinho por aqui: <a href="https://eyes.nasa.gov/curiosity/" class="text-decoration-none text-danger">https://eyes.nasa.gov/curiosity/</a>
                </p>
                <p class="text-justify">
                    Mesmo com toda essa rede, a gente só consegue receber aqueles míseros 31 MB de dados diárias. Não dá pra carregar nem um videozinho por aí né? Ah, e adivinha quem recebe todos esses dados? As nossas antenas do DSN! Aliás, é possível ver em tempo real quem está mandando mensagens pra gente nesse site: <a href="https://eyes.nasa.gov/dsn/dsn.html" class="text-decoration-none text-danger"></a>https://eyes.nasa.gov/dsn/dsn.html</a>
                </p>
        </div>
    </div>

    <div class="row bg-dark text-light">
        <div class="col-sm-4 my-2">
            <h1 class="p-5" style="font-size: 8rem; line-height: 8rem;">Futuro</h1>
        </div>

        <div class="col-sm-6 my-5">
            <div>
                <img src="./static/5f78ccd60832c0e09e2e726b_VoyagerPath.png" width="350px" alt="Voyager Path">
                <h1>Fibra óptica, interplanetária</h1>
                <p class="text-justify">
                    Mas o que tem sido feito para aumentar a velocidade com que informações são enviadas para outros planetas, ou mais longe ainda, para alguma sonda viajante nossa por aí na galáxia?
                    Algumas tecnologias têm sido desenvolvidas. Atualmente, a que se pretende usar nas nossas missões tripuladas para Marte, é feita através de lasers. Mas não são aquelas luzinhas que nossos professores usam na sala de aula. São feixes de luz concentrados de alta potência que conseguem transportar muita informação de uma vez, bem mais que a nossas companheiras ondas de rádio que ainda são nosso principal meio de comunicação.  
                    Em 2013, o projeto LLCD (Laser Lunar Communications Demonstration) conseguiu com sucesso enviar informações para um sensor na órbita lunar com uma banda muito superior ao que temos atualmente e já está em curso o projeto Mars Laser Communications Demonstration para usar essa tecnologia nas futuras missões a Marte.
                    O nome dessa tecnologia que está sendo desenvolvida de forma experimental é LCRD (Laser Communications Relay Demonstration) e ainda está em fase de teste. Essa será a nova fronteira da comunicação com o espaço, com um aumento de banda de 10 a 100 vezes maior do que é possível somente com ondas de rádio e o lançamento de um satélite para testar essa tecnologia está previsto para ser lançado em janeiro de 2021. 
                    Mas será que isso resolveria todos nossos problemas? E você? Qual solução você daria?
                </p>
            </div>
        </div>
    </div>

    <div class="card-fluid text-justify bd-highlight mb-0">
        <div class="card-body">
            <p class="card-text m-5">
                Fontes:
            </p>
            <p class="card-text m-5">
                <a href="#" class="text-decoration-none">https://www.nasa.gov/directorates/heo/scan/services/networks/deep_space_network/functions</a>
            </p>
            <p class="card-text m-5">
                <a href="#" class="text-decoration-none">https://www.nasa.gov/directorates/heo/scan/about/overview/about_scan</a>
            </p>
            <p class="card-text m-5">
                <a href="#" class="text-decoration-none">https://voyager.jpl.nasa.gov/</a>
            </p>
            <p class="card-text m-5">
                <a href="#" class="text-decoration-none">https://eyes.nasa.gov</a>
            </p>
            <p class="card-text m-5">
                <a href="#" class="text-decoration-none">https://esc.gsfc.nasa.gov/projects/LCRD</a>
            </p>
            <p class="card-text m-5">
                Link interessante para mostrar: <a href="#" class="text-decoration-none">https://eyes.nasa.gov/dsn/dsn.html</a>
            </p>
            <p class="card-text m-5">
                Muito legal pra linkar também: <a href="#" class="text-decoration-none">https://eyes.nasa.gov/curiosity/</a>
            </p>  
        </div>
    </div>
</section>
{% endblock %}