{% load static %}

<!doctype html>
<html lang="pt" class="h-100">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static '/template/base.css' %}">

        <!-- Brand -->
        <title>RedPhone</title>
        <link rel="shortcut icon" href="{% static 'logo_redphone.svg' %}">
    </head>
    <body class="d-flex flex-column h-100">
        <!-- Header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="logo">
                <a class="navbar-brand text-danger" href="/">
                    <img src="{% static 'iconfinder_phone-box_307361.svg' %}" class="d-inline-block align-center" alt="icon" width="60" height="60" loading="lazy">
                    Redphone
                </a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/crew">Crew</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger my-2 my-sm-0" href="#" role="button">Feel the challenges</a>
                    </li>
                </ul>
            </nav>
            <div id="link">
                
            </div>
        </header>
        <!-- Page content -->
        <main class="d-flex flex-column flex-fill">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer class="mt-0 py-5 bg-light">
            <div class="container">
                <div class="container d-flex align-items-center">
                    <div class="mr-auto">
                        <p class="m-0">© RedPhone, 2020. Todos os direitos reservados.</p>
                    </div>
                    <div class="mx-3">
                        <img src="{% static 'logo_twitter.png' %}" height="20">
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script>
            window.watsonAssistantChatOptions = {
                integrationID: "c09341ce-1bd3-4226-a9e8-3fc03eaa5b79", // The ID of this integration.
                region: "us-south", // The region your integration is hosted in.
                serviceInstanceID: "1fe55a5b-7a78-48df-af28-b666c44a2cc3", // The ID of your service instance.
                onLoad: function(instance) { instance.render(); }
              };
            setTimeout(function(){
              const t=document.createElement('script');
              t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
              document.head.appendChild(t);
            });
        </script>
    </body>
</html>